*{
    padding: 0;
    margin: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(to right, rgb(92, 48, 48), gold, green);
    background-size: 400% 400%;
    animation: change 23s ease-in-out infinite;
  }
  @keyframes change{
      0%{
          background-position: 0 50%;
      }
      50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
  }
li{
    float: left;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 18px 10px;
    text-decoration: none;
    margin-left: 100px;
}
.logo{
    height: 35px;
    width: 55px;
    border-radius: 6px;
    border: 1px solid gold;
    background: linear-gradient(to right, goldenrod, rgb(206, 184, 60), white);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: -45px;
    margin-left: 15px;
    font-size: 25px;
}
#gallerywrapper {
    margin-top: -8.1px;
    width:1528px;
    height:500px;
    position: absolute;
    transform: translate(-2%, -2%);
} 

#gallerywrapper #gallery {
    position:absolute;
    left:0;
    top:0;
    height:525px;
    width:1550px;
    overflow:hidden;
    text-align:center;
} 

#gallerywrapper #gallery div {
    width:140px;
    padding-top: 25px;
    position:relative;
} 

#gallerywrapper #gallery div img {
    clear:both; 
    display:block; 
    margin:0 auto; 
    border:0;
} 

#gallerywrapper #gallery div h3 {
    padding:10px 0 0 0; 
    margin:0; 
    font-size:18px;
} 

#gallerywrapper #gallery div p {
    padding:5px 0; 
    margin:0; 
    font-size:250px; 
    line-height:18px;
    margin-top: -200px;
    overflow: visible;
} 

#gallery .previous{ 
    display:inline;
    float:left;
    position: absolute;
    margin-left:-20px;
    text-decoration:none;
    margin-top: -300px;
    font-size: 40px;
    transform: scale(.5, 1);
    color: #fff;
    height: 42px;
    width: 30px;
} 

#gallery .next{
    display:inline;
    float:left;
    position: absolute;
    margin-left: 1430px;
    text-decoration:none;
    margin-top: -300px;
    font-size: 40px;
    transform: scale(.5, 1);
    color: #fff;
    height: 42px;
    width: 30px;
}
.next:hover{
    background-color: #000;
    color: white;
    height: 42px;
    width: 30px;
}
.previous:hover{
    background-color: #000;
    color: white;
    height: 42px;
    width: 30px;
}
section{
    background-color: rgb(41, 37, 37);
    height: 1300px;
    margin-top: 506.5px;
}
h1{
    font-size: 28px;
    color: white;
    padding-top: 30px;
    padding-left: 20px;
}
section img{
    float: left;
    padding: 26px;
}
.divI{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}
h2{
    font-size: 28px;
    color: white;
    padding-top: 90px;
    padding-left: 20px;
}
.divII{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}
h3{
    font-size: 28px;
    color: white;
    padding-top: 90px;
    padding-left: 20px;
}
.divIII{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}
.logo1{
    height: 35px; 
    width: 55px;
    border-radius: 6px;
    border: 1px solid gold;
    background: linear-gradient(to right, goldenrod, gold, white);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center; 
    margin-top: -45px;
    margin-left: 15px;
    font-size: 25px;
}
footer{
    background: linear-gradient(to right, rgb(92, 48, 48), gold, green);
    height: 50px;
    display: flex;
    text-align: left;
    justify-content: left;
    align-items: center;
    padding-left: 90px;
    color: white;
    animation: change 23s ease-in-out infinite;
    background-size: 400% 400%;
}
@media only screen and (max-width:850px){
    nav{
        padding: 0;
        width: 1000px;
    }
    .logo{
        position: absolute;
        top: 53px;
        left: 10px;
    }
    ul{
        flex-direction: column;
        width: 100%;
        height: 50px;
        justify-content: center;
        background: linear-gradient(to right, rgb(92, 48, 48), gold, green);
        background-size: 400% 400%;
    }
    #gallerywrapper{
        top: 44px;
    }
    #gallerywrapper #gallery{
        width: 1030px;
    }
}